[data-page-name="pages_index"] nav .logo,
[data-page-name="pages_how"] nav .logo,
[data-page-name="pages_about"] nav .logo,
[data-page-name^="devise"] nav .logo,
[data-page-name^="registrations"] nav .logo,
[data-page-name^="pets"] nav .logo,
[data-page-name^="measurements"] nav .logo,
[data-page-name^="treatments"] nav .logo,
[data-page-name^="activities"] nav .logo {
  color: var(--bs-orange);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.01em;
  text-decoration: none;
}
