[data-page-name="pages_index"] nav .logo,
[data-page-name="pets_index"] nav .logo,
[data-page-name="pets_show"] nav .logo,
[data-page-name="pages_how"] nav .logo,
[data-page-name="pages_about"] nav .logo,
[data-page-name="devise_passwords_new"] nav .logo,
[data-page-name="devise_sessions_new"] nav .logo,
[data-page-name="registrations_new"] nav .logo,
[data-page-name="registrations_create"] nav .logo,
[data-page-name="pets_new"] nav .logo,
[data-page-name="pets_create"] nav .logo,
[data-page-name="new_measurement"] nav .logo,
[data-page-name="measurements_index"] nav .logo,
[data-page-name="treatments_index"] nav .logo,
[data-page-name="treatments_new"] nav .logo {
  color: var(--bs-orange);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.01em;
  text-decoration: none;
}
