<%= stylesheet_link_tag 'show', media: 'all', 'data-turbo-track': 'reload' %>

<div class="card-detail hidden">
  <div class="background-blur"></div>
    <header>
      <h1>Buddy.</h1>
      <h2>Pet health summary</h2>
      <p>
        Your pet vaccines are up-to-date.<br />Your pet still needs 2
        medications today.
      </p>
    </header>

    <main class="info-sections">
      <div class="info-box">
        <h3>Vaccines</h3>
      </div>
      <div class="info-box">
        <h3>Medications</h3>
      </div>
      <div class="info-box">
        <h3>Weight</h3>
      </div>
      <div class="info-box">
        <h3>Allergies</h3>
      </div>
    </main>
</div>
