<% flash.each do |name, msg| %>
  <div class="alert <%= name == 'notice' ? 'alert-info' : 'alert-warning' %> alert-dismissible fade show m-1" role="alert" data-controller="flash">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>