<section class="py-12 pt-lg-24">
  <div class="container">
	<div class="row mb-16 mb-md-20 mb-lg-32">
	  <div class="col-lg-12">
		<div class="row border-bottom border-1 pb-4">
		  <div class="col-12 col-md-4 mb-12">
			<h6 class="mb-6 fw-medium fs-5">Navigation Links</h6>
			<ul class="list-unstyled mb-0">
			  <li class="mb-6"><%= link_to 'Home', root_path, class:"nav-link p-0" %></li>
			  <li class="mb-6"><li class="mb-6"><%= link_to 'About Us', about_path, class:"nav-link p-0" %></li></li>
			  <li class="mb-6"><a class="nav-link p-0" href="#">Contact Us</a></li>
			</ul>
		  </div>
		  <div class="mt-3 mb-3 mt-md-0 mb-md-0 col-12 col-md-4 mb-12">
			<h6 class="mb-6 fw-medium fs-5">Support & help</h6>
			<ul class="list-unstyled mb-0">
			  <li class="mb-6"><a class="nav-link p-0" href="#">FAQ</a></li>
			</ul>
		  </div>
		  <div class="col-12 col-md-4 mb-12">
			<h6 class="mb-6 fw-medium fs-5">Legal and Policies</h6>
			<ul class="list-unstyled mb-0">
			  <li class="mb-6"><a class="nav-link p-0" href="#">Privacy Policy</a></li>
			  <li class="mb-6"><a class="nav-link p-0" href="#">Terms & Conditions</a></li>
			  <li class="mb-6"><a class="nav-link p-0" href="#">Cookies Policy</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
<p class="mt-4">
	<%= link_to root_path, class: "nav-link" do %>
	  Copyright &copy; <%= Time.now.year %> - Buddy
	<% end %>
</p>

