.navbar-toggler {
  border-color: orange;
  transition: border-color 0.3s;
  border: solid 2px orange;
}

.navbar-toggler:hover {
  border-color: orange;
}

.navbar-toggler:focus {
  border-color: transparent;
  box-shadow: 0 0 0 1;
}
