.btn-primary:hover {
  background-color: var(--btn-primary-hover-bg);
  border-color: var(--btn-primary-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-hover-bg);
  border-color: var(--btn-secondary-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-success:hover {
  background-color: var(--btn-success-hover-bg);
  border-color: var(--btn-success-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-danger:hover {
  background-color: var(--btn-danger-hover-bg);
  border-color: var(--btn-danger-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-warning:hover {
  background-color: var(--btn-warning-hover-bg);
  border-color: var(--btn-warning-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-info:hover {
  background-color: var(--btn-info-hover-bg);
  border-color: var(--btn-info-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-light:hover {
  background-color: var(--btn-light-hover-bg);
  border-color: var(--btn-light-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-dark:hover {
  background-color: var(--btn-dark-hover-bg);
  border-color: var(--btn-dark-hover-border-color);
  box-shadow: var(--btn-hover-box-shadow);
}
