:root {
  --bs-font-sans-serif: "DM Sans", "Helvetica", sans-serif;
  --bs-headings-font-family: "Nunito", "Helvetica", sans-serif;

  --bs-body-bg: var(--bs-light-yellow);

  --bs-nav-link-hover-color: var(--bs-primary);
  // Autres exemples
  // --bs-nav-link-color: var(--bs-pink);
  //  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  // --bs-nav-link-hover-color: #00ff00;
}
