// Global
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flash-message {
  transition: opacity 0.5s ease-in-out;
}

.flash-message.fade-out {
  opacity: 0;
}
.chart {
  margin-bottom: clamp(2rem, calc(2rem + 1vw), 4rem);
}
