// Global
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flash-message {
  transition: opacity 0.5s ease-in-out;
}

.flash-message.fade-out {
  opacity: 0;
}
.chart {
  margin-bottom: clamp(2rem, calc(2rem + 1vw), 4rem);
}

.card--dashboard {
  display: flex;
  flex-direction: column;
}

.card-dashboard-button {
  flex: 1;
}

.table-card {
  max-height: 220px;
}

.card--dashboard {
  min-height: 286px;
}

@media (max-width: 768px) {
  /* Pour les écrans de taille tablette et moins */
  .card--dashboard {
    min-height: auto; /* ou min-height: unset; */
  }
}

@media (max-width: 1199px) {
  .btn.w-50 {
    width: 100% !important;
  }

  .btn.w-25 {
    width: 50% !important;
  }
}
