$font-family-sans-serif: "Helvetica", sans-serif;
$headings-font-family: "Helvetica", sans-serif;

:root {
  --bs-font-sans-serif: #{$font-family-sans-serif};
  --bs-headings-font-family: #{$headings-font-family};

  --bs-body-bg: var(--bs-light-yellow);

  --bs-nav-link-hover-color: var(--bs-primary);
}
