$font-family-sans-serif: "DM Sans", "Helvetica", sans-serif;
$headings-font-family: "Nunito", "Helvetica", sans-serif;

:root {
  --bs-font-sans-serif: #{$font-family-sans-serif};
  --bs-headings-font-family: #{$headings-font-family};

  --bs-body-bg: var(--bs-light-yellow);

  --bs-nav-link-hover-color: var(--bs-primary);
}

.navbar-toggler {
  border-color: orange;
  transition: border-color 0.3s;
  border: solid 2px orange;
}

.navbar-toggler:hover {
  border-color: orange;
}

.navbar-toggler:focus {
  border-color: transparent;
  box-shadow: 0 0 0 1;
}
