<nav class="navbar navbar-expand-lg py-4">
	<div class="container">
		<%= link_to 'Buddy', root_path, class:"logo" %>
		<div class="ms-auto d-flex gap-4">
			<%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary rounded-pill px-4" %></button>
			<%= link_to 'Login', user_session_path, class:"btn btn-primary rounded-pill px-4" %></button>
		</div>
	</div>
</nav>