<div data-page-name="<%= page_name %>">
	<%= render "navbar" %>
	<section>
	  <div class="row justify-content-center">
		<div class="col-lg-6">
		  <div class="p-5 mx-auto">
			<h4>Sign up</h4>
			<p>
			  <span>Already have an account?</span>
			  <a href="#" class="text-dark fw-bold">Login</a>
			</p>
			<form>
			  <label class="form-label">First Name</label>
			  <input type="text" class="form-control mb-4" placeholder="John">
			  
			  <label class="form-label">Last Name</label>
			  <input type="text" class="form-control mb-4" placeholder="Doe">
			  
			  <label class="form-label">Email</label>
			  <input type="email" class="form-control mb-4" placeholder="john@email.com">
			  
			  <label class="form-label">Password</label>
			  <input type="password" class="form-control mb-4" placeholder="Enter password">
	
			  <label class="form-label">Confirm Password</label>
			  <input type="password" class="form-control mb-4" placeholder="Confirm password">
	
			  <button class="btn w-100 btn-primary">Sign Up</button>
			</form>
		  </div>
		</div>
	  </div>
	</section>
</div>

