<div data-page-name="<%= page_name %>">
	<section class="py-12 pt-lg-24 overflow-hidden">
	  <div class="container">
		<div class="text-center">
		  <h3 class="font-heading mb-10 display-3">Oops. Page not found.</h3>
		  <%= link_to 'Back to Home', root_path, class:"btn btn-primary rounded-pill btn-lg px-4 mt-4" %>
		  <div class="mw-5xl mt-20 mx-auto">
			<%= image_tag '404.svg', class: "img-fluid d-block w-100"%>
		  </div>
		</div>
	  </div>
	</section>
</div>

